.moviesContainer {
  width: 100%;
  display: flex;

  margin-top: 20px;
}

.cardContainer {
  width: 100%;
  display: flex;
  padding: 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-sizing: border-box;
  position: relative;
}

.imgContainer {
  min-width: 250px;
  height: 352px;
  margin-right: 16px;
  position: relative;
}

.descContainer {
  display: flex;
  flex-direction: column;
}
.descContainer_Title {
  font-size: 20px;
  line-height: 24px;
  color: #9854f6;
  font-weight: 600;
}

.descContainer_Year {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #7b7c88;
  font-weight: 400;
}

.descContainer_Rating {
  display: flex;
  align-items: center;
  margin-bottom: 116px;
}

.descContainer_RatingImgContainer {
  width: 28px;
  height: 28px;
  position: relative;
}

.descContainer_RatingValue {
  display: flex;
}

.descContainer_RatingValue_Average {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 600;
  margin-right: 8px;
  margin-left: 4px;
  align-self: center;
}
.descContainer_RatingValue_Total {
  color: #7b7c88;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-right: 8px;
}

.descContainer_AllParams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}
.descContainer_AllParams_keys_container {
  color: #7b7c88;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-right: 20px;
}

.descContainer_AllParams_keys:not(:last-child) {
  margin-bottom: 12px;
}

.descContainer_AllParams_values_container {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  max-width: 310px;
}

.descContainer_AllParams_values:not(:last-child) {
  margin-bottom: 12px;
}

.descContainer_AllParams_genres:not(:last-child)::after {
  content: ",  ";
}

.starRate {
  position: absolute;
  right: 24px;
}
