.moviesContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.moviesContainer a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: row;
}
.cardContainer {
  width: calc(49.6% - 8px);

  margin-bottom: 16px;
  display: flex;

  padding: 24px 30px 24px 24px;
  background-color: #ffffff;
  border-radius: 12px;
  box-sizing: border-box;
  position: relative;
}

.cardContainer:nth-child(2n + 1) {
  margin-right: 16px;
}

.imgContainer {
  min-width: 118px;
  height: 170px;
  margin-right: 16px;
  position: relative;
}

.descContainer {
  display: flex;
  flex-direction: column;
}
.descContainer_Title {
  font-size: 20px;
  line-height: 24px;
  color: #9854f6;
  font-weight: 600;
  max-width: 240px;
}

.descContainer_Year {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 20px;
  color: #7b7c88;
  font-weight: 400;
}

.descContainer_Rating {
  display: flex;
  align-items: center;
  margin-bottom: 62px;
}

.descContainer_RatingImgContainer {
  height: 28px;
}
.descContainer_RatingImgContainer img {
}

.descContainer_RatingValue {
  display: flex;
}

.descContainer_RatingValue_Average {
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  font-weight: 600;
  margin-right: 8px;
  margin-left: 4px;
  align-self: center;
}
.descContainer_RatingValue_Total {
  color: #7b7c88;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-right: 8px;
}

.descContainer_Genre {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.descContainer_GenreList {
  color: #000000;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
}

.descContainer_GenreList:not(:last-child)::after {
  content: ",  ";
}

.starRate {
  position: absolute;
  right: 24px;
}
