.button {
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  font-weight: 600;
  background-color: #9854f6;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
.buttonRemove {
  font-size: 14px;
  text-align: center;
  color: #9854f6;
  font-weight: 600;
  background-color: #ffffff;
  padding: 10px 20px 10px 20px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
